{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="wrapper bg-light wrapper-border">
    <div class="container py-12 py-md-12">
        <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0">
            <div class="col-lg-4 mt-lg-2">
                <h2 class="fs-15 text-uppercase text-muted mb-3">{{ .Params.sub_title }}</h2>
                <h3 class="display-4 mb-3 pe-xxl-5">{{ .Params.big_title }}</h3>
                <p class="lead fs-lg mb-0 pe-xxl-5">{{ .Params.description }}</p>
            </div>
            <!-- /column -->
            <div class="col-lg-8 pt-md-10">
                <div class="row row-cols-2 row-cols-md-4 gx-0 gx-md-8 gx-xl-12 gy-12">
                    {{ range $data.partners.partner }}
                    <div class="col">
                        {{ if .url }}
                        <a href="{{ .url }}" title="{{ .title }}" target="_blank">
                            <figure class="px-md-3 mb-0"><img src="{{ $.Site.BaseURL }}{{ .logo_color }}"
                                    alt="{{ .title }}"></figure>
                        </a>
                        {{ else }}
                        <figure class="px-md-3 mb-0"><img src="{{ $.Site.BaseURL }}{{ .logo_color }}"
                                alt="{{ .title }}">
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                <!--/.row -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>