{{ define "main" }}
<section class="wrapper bg-soft-primary">
    <div class="container pt-10 pb-6 pt-md-14 pb-md-12 text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-1 mb-3">{{ .Title }}</h1>
                <!-- /nav -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

{{ if eq .Params.type_page "detail" }}
{{ partial "services/detail.html" . }}
{{ else if eq .Params.type_page "list"}}
{{ partial "services/list.html" . }}
{{ else }}
{{ partial "services/list.html" . }}
{{ end }}

{{ end }}

{{ define "footer" }}
{{ if .Params.show_footer }}
<div class="d-lg-flex flex-row align-items-lg-center">
    {{ if eq "" .Params.footer.button_text }}
    {{ .Params.footer.title }}
    {{ else }}
    <h3 class="display-4 mb-6 mb-lg-0 pe-lg-12 text-white">{{ .Params.footer.title }}</h3>
    {{ end }}
    {{ if ne "" .Params.footer.button_text }}
    <a href="{{ .Params.footer.button_link }}" class="btn btn-primary rounded-pill mb-0 text-nowrap">{{
        .Params.footer.button_text }}</a>
    {{ end }}
</div>
<hr class="mt-11 mb-12">
{{ end }}
{{ end }}