{{ define "main" }}
{{ $paginator := .Paginate .Pages }}
<section class="wrapper bg-light wrapper-border">
  <div class="container py-12 py-md-10">
    <div class="row gx-lg-8 gx-xl-11 gy-10 blog grid-view">
      {{ range $item := first 1 $paginator.Pages }}
      <div class="col-lg-8">
        <article class="post">
          <figure class="overlay overlay1 hover-scale rounded mb-5"><a href="{{ $item.Permalink }}"><span class="bg"></span> <img
                src="{{ $.Site.BaseURL }}{{ $item.Params.featured_image }}" alt=""></a>
            <figcaption>
              <h5 class="from-top mb-0">{{ i18n "blog_read_more" }}</h5>
            </figcaption>
          </figure>
          <!-- /.post-slider -->
          <div class="post-header mb-5">
            <div class="post-category text-line">
              {{ range $item.Params.categories }}
              <a href="{{ "" | absLangURL }}categories/{{ . | urlize }}" class="hover" rel="category">{{ . }}</a>
              {{ end }}
            </div>
            <!-- /.post-category -->
            <h2 class="post-title mt-1 mb-4"><a class="link-dark" href="{{ $item.Permalink }}">{{ $item.Title }}</a></h2>
            <ul class="post-meta mb-0">
              <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{ $item.Date }}</span></li>
            </ul>
            <!-- /.post-meta -->
          </div>
          <!-- /.post-header -->
          <div class="post-content">{{ $item.Summary }}</div>
          <!-- /.post-content -->
        </article>
        <!-- /.post -->
      </div>
      {{ end }}
      <div class="col-lg-4">
        <div class="row gy-10">
          {{ range $index, $item := first 3 $paginator.Pages }}
          {{ if ne 0 $index}}
          <div class="col-md-6 col-lg-12">
            <article class="post">
              <figure class="overlay overlay1 hover-scale rounded mb-5"><a href="{{ $item.Permalink }}"><span class="bg"></span> <img
                    src="{{ $.Site.BaseURL }}{{ $item.Params.featured_image }}" alt=""></a>
                <figcaption>
                  <h5 class="from-top mb-0">{{ i18n "blog_read_more" }}</h5>
                </figcaption>
              </figure>
              <div class="post-header">
                <div class="post-category text-line">
                  {{ range $item.Params.categories }}
                  <a href="#" class="hover" rel="category">{{ . }}</a>
                  {{ end }}
                </div>
                <!-- /.post-category -->
                <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="{{ $item.Permalink }}">{{ $item.Title }}</a></h2>
              </div>
              <!-- /.post-header -->
              <div class="post-footer">
                <ul class="post-meta">
                  <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{ $item.Date }}</span></li>
                </ul>
                <!-- /.post-meta -->
              </div>
              <!-- /.post-footer -->
            </article>
            <!-- /.post -->
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ $taxo := "categories" }}
{{ $paginate_categories := int $.Site.Params.blog_categories_paginate}}
{{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
{{ range $taxonomy := first $paginate_categories .Pages }}
<section class="wrapper bg-light wrapper-boerder">
  <div class="container py-5 py-md-10">
    <div class="row">
      <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto">
        <h2 class="display-4 mb-6 text-center text-uppercase text-primary">{{ $taxonomy.Title }}</h2>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="position-relative">
      <div class="carousel owl-carousel gap-small blog grid-view" data-margin="0" data-dots="true" data-autoplay="false"
        data-autoplay-timeout="5000"
        data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1200":{"items": "3"}}'>
        {{ $paginate := int $.Site.Params.blog_paginate }}
        {{ range $page := first $paginate $taxonomy.Pages }}
        <div class="item">
          <div class="item-inner">
            <article>
              <div class="card">
                <figure class="card-img-top overlay overlay1 hover-scale"><a href="{{ .Permalink }}"> <img
                      src="{{ $.Site.BaseURL }}{{ $page.Params.featured_image }}" alt="" /></a>
                  <figcaption>
                    <h5 class="from-top mb-0">{{ i18n "blog_read_more" }}</h5>
                  </figcaption>
                </figure>
                <div class="card-body">
                  <div class="post-header">
                    <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h2>
                  </div>
                </div>
                <div class="card-footer">
                  <ul class="post-meta d-flex mb-0">
                    <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{ .Date }}</span></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
  {{ end }}
{{ end }}
{{ end }}