{{ define "main" }}
<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
      <div class="row align-items-center mb-10">
        <div class="col-md-8 col-lg-9 col-xl-8 col-xxl-7 pe-xl-20">
          <h2 class="display-4 mb-0">Company news from our blog that got the most attention.</h2>
        </div>
        <!--/column -->
        <div class="col-md-4 col-lg-3 ms-md-auto text-md-end mt-5 mt-md-0">
          <a href="#" class="btn btn-soft-primary rounded-pill mb-0">View All News</a>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <div class="row gx-lg-8 gx-xl-11 gy-10 blog grid-view">
        <div class="col-lg-8">
          <article class="post">
            <div class="post-slider rounded mb-6">
              <div class="basic-slider owl-carousel dots-over" data-margin="5">
                <div class="item"><img src="./assets/img/photos/b2.jpg" class="" alt="" /></div>
                <div class="item"><img src="./assets/img/photos/b3.jpg" alt="" /></div>
              </div>
              <!-- /.basic-slider -->
            </div>
            <!-- /.post-slider -->
            <div class="post-header mb-5">
              <div class="post-category text-line">
                <a href="#" class="hover" rel="category">Ideas</a>
              </div>
              <!-- /.post-category -->
              <h2 class="post-title mt-1 mb-4"><a class="link-dark" href="./blog-post.html">Fringilla Ligula Pharetra Amet</a></h2>
              <ul class="post-meta mb-0">
                <li class="post-date"><i class="uil uil-calendar-alt"></i><span>5 Jul 2021</span></li>
                <li class="post-author"><a href="#"><i class="uil uil-user"></i><span>By Sandbox</span></a></li>
                <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>3<span> Comments</span></a></li>
              </ul>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
            <div class="post-content">
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
            <!-- /.post-content -->
          </article>
          <!-- /.post -->
        </div>
        <!-- /column -->
        <div class="col-lg-4">
          <div class="row gy-10">
            <div class="col-md-6 col-lg-12">
              <article class="post">
                <figure class="overlay overlay1 hover-scale rounded mb-5"><a href="#"> <img src="./assets/img/photos/b1.jpg" alt="" /></a>
                  <figcaption>
                    <h5 class="from-top mb-0">Read More</h5>
                  </figcaption>
                </figure>
                <div class="post-header">
                  <div class="post-category text-line">
                    <a href="#" class="hover" rel="category">Coding</a>
                  </div>
                  <!-- /.post-category -->
                  <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./blog-post.html">Ligula tristique quis risus</a></h2>
                </div>
                <!-- /.post-header -->
                <div class="post-footer">
                  <ul class="post-meta">
                    <li class="post-date"><i class="uil uil-calendar-alt"></i><span>14 Apr 2021</span></li>
                    <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>4</a></li>
                  </ul>
                  <!-- /.post-meta -->
                </div>
                <!-- /.post-footer -->
              </article>
              <!-- /.post -->
            </div>
            <!-- /column -->
            <div class="col-md-6 col-lg-12">
              <article class="post">
                <figure class="overlay overlay1 hover-scale rounded mb-5"><a href="#"> <img src="./assets/img/photos/b4.jpg" alt="" /></a>
                  <figcaption>
                    <h5 class="from-top mb-0">Read More</h5>
                  </figcaption>
                </figure>
                <div class="post-header">
                  <div class="post-category text-line">
                    <a href="#" class="hover" rel="category">Workspace</a>
                  </div>
                  <!-- /.post-category -->
                  <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./blog-post.html">Nullam id dolor elit id nibh</a></h2>
                </div>
                <!-- /.post-header -->
                <div class="post-footer">
                  <ul class="post-meta">
                    <li class="post-date"><i class="uil uil-calendar-alt"></i><span>29 Mar 2021</span></li>
                    <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>3</a></li>
                  </ul>
                  <!-- /.post-meta -->
                </div>
                <!-- /.post-footer -->
              </article>
              <!-- /.post -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
{{ end }}