<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
<head>
    {{ partial "head.html" . }}
	<link rel="preload" href="{{ $.Site.BaseURL }}css/colors/rankpillar.css" as="style" onload="this.rel='stylesheet'">
	<link rel="preload" href="{{ $.Site.BaseURL }}css/fonts/thicccboi.css" as="style" onload="this.rel='stylesheet'">
</head>
<body>
	<div class="content-wrapper">
		{{ partial "header.html" .}}
		<!-- /header -->
		{{ block "main" . }}{{ end }}
		<!-- /section -->
	</div>
	<!-- /.content-wrapper -->
	<!-- /.content-wrapper -->
	<footer class="bg-dark text-inverse">
		<div class="container py-13 py-md-12">
			{{ block "footer" . }}{{ end }}
			{{ partial "footer.html" . }}
		</div>
	</footer>
	{{ partial "page-progress.html" . }}
	{{ partial "scripts.html" . }}
</body>
</html>