{{ $footer := index .Site.Data .Site.Language.Lang }}
<div class="row gy-6 gy-lg-0">
  <div class="col-md-4 col-lg-4">
    <div class="widget">
      <img class="mb-4" src="{{ $.Site.BaseURL }}{{ .Site.Params.LogoLightURL }}"
        srcset="{{ $.Site.BaseURL }}{{ .Site.Params.LogoLightURL2x }} 2x" alt="" />
      <p class="mb-4">{{ .Site.Params.Copyright }} <br class="d-none d-lg-block" /></p>
      <nav class="nav social social-white">
        {{ range .Site.Params.Social }}
        <a href="{{ .url }}" title="{{ .name }}"><i class="{{ .icon }}"></i></a>
        {{ end }}
      </nav>
      <!-- /.social -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-4">
    <div class="widget">
      <h4 class="widget-title text-white mb-3">Get in Touch</h4>
      <address class="pe-xl-15 pe-xxl-17">{{ .Site.Params.Address }}</address>
      <a href="mailto:#">i{{ .Site.Params.EmailSales }}</a><br /> +00 (123) 456 78 90
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-12 col-lg-4">
    <div class="widget">
      <h4 class="widget-title text-white mb-3">Our Newsletter</h4>
      <p class="mb-5">Subscribe to our newsletter to get our news & deals delivered to you.</p>
      <div class="newsletter-wrapper">
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup2">
          <script async data-uid="34360b23c1" src="https://artisanal-teacher-9057.ck.page/34360b23c1/index.js"></script>
        </div>
        <!--End mc_embed_signup-->
      </div>
      <!-- /.newsletter-wrapper -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
</div>
<!--/.row -->