{{ $menu := index .Site.Data .Site.Language.Lang }}
<div class="navbar-other w-100 d-flex ms-auto">
    <ul class="navbar-nav flex-row align-items-center ms-auto" data-sm-skip="true">
        <li class="nav-item dropdown language-select text-uppercase">
            <a class="nav-link dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{ .Site.Language.Lang }}</a>
            <ul class="dropdown-menu">
                {{ range .AllTranslations }}
                <li class="nav-item"><a class="dropdown-item" href="{{ .Permalink }}">{{ .Lang }}</a></li>
                {{ end }}
            </ul>
        </li>
        <li class="nav-item d-none d-md-block">
            <a href="{{ $menu.menu.button.url }}" class="btn btn-sm btn-{{ $menu.menu.button.color }} rounded-pill">{{ $menu.menu.button.title }}</a>
        </li>
        <!-- <li class="nav-item"><a class="nav-link" data-toggle="offcanvas-info"><i class="uil uil-info-circle"></i></a> -->
        </li>
        <li class="nav-item d-lg-none">
            <div class="navbar-hamburger"><button class="hamburger animate plain"
                    data-toggle="offcanvas-nav"><span></span></button></div>
        </li>
    </ul>
    <!-- /.navbar-nav -->
</div>