<li class="nav-item"><a class="nav-link" href="#!">Demos</a>
    <ul class="dropdown-menu mega-menu mega-menu-img">
      <li class="mega-menu-content">
        <ul class="row row-cols-1 row-cols-lg-6 gx-0 gx-lg-4 gy-lg-2 list-unstyled">
          <li class="col"><a class="dropdown-item" href="index.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi1.jpg" srcset="img/demos/mi1@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo I</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index2.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi2.jpg" srcset="img/demos/mi2@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo II</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index3.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi3.jpg" srcset="img/demos/mi3@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo III</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index4.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi4.jpg" srcset="img/demos/mi4@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo IV</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index5.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi5.jpg" srcset="img/demos/mi5@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo V</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index6.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi6.jpg" srcset="img/demos/mi6@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo VI</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index7.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi7.jpg" srcset="img/demos/mi7@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo VII</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index8.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi8.jpg" srcset="img/demos/mi8@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo VIII</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index9.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi9.jpg" srcset="img/demos/mi9@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo IX</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index10.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi10.jpg" srcset="img/demos/mi10@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo X</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index11.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi11.jpg" srcset="img/demos/mi11@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo XI</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index12.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi12.jpg" srcset="img/demos/mi12@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo XII</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index13.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi13.jpg" srcset="img/demos/mi13@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo XIII</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index14.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi14.jpg" srcset="img/demos/mi14@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo XIV</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index15.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi15.jpg" srcset="img/demos/mi15@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo XV</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index16.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi16.jpg" srcset="img/demos/mi16@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo XVI</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index17.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi17.jpg" srcset="img/demos/mi17@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo XVII</span>
            </a></li>
          <li class="col"><a class="dropdown-item" href="index18.html">
              <figure class="rounded lift d-none d-lg-block"><img src="img/demos/mi18.jpg" srcset="img/demos/mi18@2x.jpg 2x" alt=""></figure>
              <span class="d-lg-none">Demo XVIII</span>
            </a></li>
        </ul>
        <!--/.row -->
      </li>
      <!--/.mega-menu-content-->
    </ul>
    <!--/.dropdown-menu -->
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#!">Projects</a>
    <ul class="dropdown-menu">
      <li class="nav-item"><a class="dropdown-item" href="projects.html">Projects I</a></li>
      <li class="nav-item"><a class="dropdown-item" href="projects2.html">Projects II</a></li>
      <li class="nav-item"><a class="dropdown-item" href="projects3.html">Projects III</a></li>
      <li class="nav-item"><a class="dropdown-item" href="projects4.html">Projects IV</a></li>
      <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Single Projects</a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a class="dropdown-item" href="single-project.html">Single Project I</a></li>
          <li class="nav-item"><a class="dropdown-item" href="single-project2.html">Single Project II</a></li>
          <li class="nav-item"><a class="dropdown-item" href="single-project3.html">Single Project III</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#!">Blocks</a>
    <ul class="dropdown-menu">
      <li class="nav-item"><a class="dropdown-item" href="blocks.html">About</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks2.html">Blog</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks3.html">Clients</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks4.html">Contact</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks5.html">Facts</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks6.html">FAQ</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks7.html">Portfolio</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks8.html">Pricing</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks9.html">Process</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks10.html">Services</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks11.html">Team</a></li>
      <li class="nav-item"><a class="dropdown-item" href="blocks12.html">Testimonials</a></li>
    </ul>
  </li>