<li class="nav-item"><a class="nav-link" href="{{ $.Site.BaseURL }}">Home</a></li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="{{ $.Site.BaseURL }}">Services</a>
  <ul class="dropdown-menu">
    <li class="dropdown">
      <a class="dropdown-item dropdown-toggle" href="{{ $.Site.BaseURL }}press-release">Press Release</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}press-release/conference">PR Conference</a>
        </li>
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}press-release/article-release">PR
            Release</a></li>
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}press-release/digital-pr">Digital PR</a>
        </li>
      </ul>
    </li>
    <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}media-buying">Media Buying</a></li>
    <li class="dropdown">
      <a class="dropdown-item dropdown-toggle" href="{{ $.Site.BaseURL }}performance-marketing">Performance Marketing</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}performance-marketing/google-ads">Google
          Ads</a></li>
      <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}performance-marketing/facebook-ads">Facebook
          Ads</a></li>
      <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}performance-marketing/twitter-ads">Twitter
          Ads</a></li>
      <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}performance-marketing/tiktok-ads">Tiktok
          Ads</a></li>
      <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}performance-marketing/youtube-ads">Youtube
          Ads</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-item dropdown-toggle" href="{{ $.Site.BaseURL }}seo">SEO</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}seo-service/on-page">On Page</a></li>
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}seo-service/off-page">Off Page</a></li>
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}seo-service/keyword-research">Keyword
            Research</a></li>
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}seo-service/content-audit">SEO Content
            Audit</a></li>
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}seo-service/technical-audit">SEO Technical
            Audit</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-item dropdown-toggle" href="{{ $.Site.BaseURL }}content-service">Content</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}content-service/product">Product Content</a>
        </li>
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}content-service/news">News Content</a></li>
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}content-service/blog">Blog Content</a></li>
        <li class="nav"><a class="dropdown-item" href="{{ $.Site.BaseURL }}content-service/landing-page">Landing Page</a>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-item dropdown-toggle" href="{{ $.Site.BaseURL }}social-media">Social Media</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}social-media/management-service">Social
            Media Management</a></li>
        <li class="nav-item"><a class="dropdown-item" href="{{ $.Site.BaseURL }}social-media/blue-badge">Blue Badge</a></li>
        <li class="dropdown">
          <a class="dropdown-item dropdown-toggle" href="{{ $.Site.BaseURL }}social-media/kol-influencer">KOL /
            Influencer</a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item"
                href="{{ $.Site.BaseURL }}social-media/kol-influencer/instagram">Instagram</a></li>
            <li class="nav-item"><a class="dropdown-item"
                href="{{ $.Site.BaseURL }}social-media/kol-influencer/tiktok">Tiktok</a></li>
            <li class="nav-item"><a class="dropdown-item"
                href="{{ $.Site.BaseURL }}social-media/kol-influencer/twitter">Twitter</a></li>
            <li class="nav-item"><a class="dropdown-item"
                href="{{ $.Site.BaseURL }}social-media/kol-influencer/youtube">Youtube</a></li>
          </ul>
        </li>
        </li>
      </ul>
    </li>
  </ul>
</li>
<li class="nav-item"><a class="nav-link" href="{{ $.Site.BaseURL }}client">Client</a></li>
<li class="nav-item"><a class="nav-link" href="{{ $.Site.BaseURL }}partner">Partner</a></li>
<li class="nav-item"><a class="nav-link" href="{{ $.Site.BaseURL }}blog">Blog</li>

  