{{ $footer := index .Site.Data .Site.Language.Lang }}
<div class="offcanvas-info text-inverse">
    <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-info-close" aria-label="Close"></button>
    <a href="{{ $.Site.BaseURL }}"><img src="{{ $.Site.BaseURL }}{{ .Site.Params.LogoLightURL }}" srcset="{{ $.Site.BaseURL }}{{ .Site.Params.LogoLightURL }} 2x" alt="" /></a>
    <div class="mt-4 widget">
      <p>{{ .Site.Params.descriptionSidebar }}</p>
    </div>
    <!-- /.widget -->
    <div class="widget">
      <h4 class="widget-title text-white mb-3">Contact Info</h4>
      <address> {{ .Site.Params.Address }}</address>
      <a href="mailto:{{ .Site.Params.EmailSales }}">{{ .Site.Params.EmailSales }}</a><br /> {{ .Site.Params.Phone }}
    </div>
    <!-- /.widget -->
    <div class="widget">
      <h4 class="widget-title text-white mb-3">Learn More</h4>
      <ul class="list-unstyled">
        {{ range $footer.menu.footer }}
          <li><a href="{{ .url | absLangURL }}">{{ .title }}</a></li>
        {{ end }}
      </ul>
    </div>
    <!-- /.widget -->
    <div class="widget">
      <h4 class="widget-title text-white mb-3">Follow Us</h4>
      <nav class="nav social social-white">
        {{ range .Site.Params.Social }}
        <a href="{{ .url }}" title="{{ .name }}"><i class="{{ .icon }}"></i></a>
        {{ end }}
      </nav>
      <!-- /.social -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /.offcanvas-info -->