{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="wrapper bg-light wrapper-border">
    <div class="container py-14 py-md-16">
        <h2 class="fs-15 text-uppercase text-muted mb-3">{{ .Params.sub_title }}</h2>
        <div class="row gx-lg-8 mb-10 gy-5">
            <div class="col-lg-6">
                <h3 class="display-5 mb-0">{{ .Params.big_title }}</h3>
            </div>
            <!-- /column -->
            <div class="col-lg-6">
                <p class="lead mb-0">{{ .Params.description }}</p>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 gx-lg-6 gy-6 justify-content-center">
            {{ range $data.clients.client }}
            <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                    <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 mb-0"><img src="{{ $.Site.BaseURL }}{{ .logo_color }}" alt="{{ .title }}"></figure>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            {{ end }}
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
{{ end }}